 /* ------ Breakpoints (mobile-first; use min-width) for main container ------ */
 /* Small tablets and up */
 @media (min-width: 576px) {}

 /* Tablets and up */
 @media (min-width: 768px) {
   .navbar {}
 }

 /* Small laptops and up */
 @media (min-width: 992px) {
   /* add layout changes if needed */
 }

 /* Desktops and up */
 @media (min-width: 1200px) {
   /* optional refinements */
 }

 /* Large desktops (1440+) */
 @media (min-width: 1440px) {
   .main-container {
     max-width: 1296px;
   }

   /* already set, but explicit is fine */
   .navbar {
     max-width: 1120px;
   }
 }

 /* Ultra-wide (≥1920px): only if you really want wider content */
 @media (min-width: 1920px) {
   .main-container {
     max-width: 1850px;
     padding: 0 1rem;
   }

   /* gentle upscale, optional */
   .navbar {
     max-width: 1520px;
   }

   .menu ul li a {
     font-size: 15px;
     margin: 0 12px;
     letter-spacing: 0%;
   }
 }





 /* ***************  breakdown point for other styles start *********************** */
 @media (max-width: 1366px) {
   #primusgallerydesignsec .gallery {
     padding: 0 1rem;
   }
   .primusvideocontcontainer {
  padding: 2.5rem 3rem;
  display: flex;
  gap: 3rem;
}
 }

@media (max-width: 1024px) {

}
 @media (max-width: 768px) {
   .gallery {
     flex-direction: column;
     height: auto;
   }

   .gallery-item {
     flex: none;
     height: 100px;
     transition: height 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
   }

   .gallery-item.expanded {
     height: 300px;
   }

   h1 {
     font-size: 2rem;
   }
 }

 @media (max-width: 480px) {
 }

 /* ***************  breakdown point for other styles end *********************** */